[submodule "opt/pyenv"]
	path = opt/pyenv
	url = https://github.com/yyuu/pyenv
[submodule "opt/gvm"]
	path = opt/gvm
	url = https://github.com/moovweb/gvm
[submodule "opt/nvm"]
	path = opt/nvm
	url = https://github.com/creationix/nvm.git
[submodule "opt/fasd"]
	path = opt/fasd
	url = https://github.com/clvv/fasd
[submodule "opt/rustup.rs"]
	path = opt/rustup.rs
	url = https://github.com/rust-lang-nursery/rustup.rs
[submodule "opt/fzf"]
	path = opt/fzf
	url = https://github.com/junegunn/fzf
[submodule "opt/zsh-completions"]
	path = opt/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "opt/zsh-syntax-highlighting"]
	path = opt/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "opt/zsh-autosuggestions"]
	path = opt/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".vim/pack/_/opt/nerdtree-git-plugin"]
	path = .vim/pack/_/opt/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
