[submodule "opt/pyenv"]
	path = opt/pyenv
	url = https://github.com/yyuu/pyenv
[submodule "opt/gvm"]
	path = opt/gvm
	url = https://github.com/moovweb/gvm
[submodule "opt/nvm"]
	path = opt/nvm
	url = https://github.com/creationix/nvm.git
[submodule "opt/fasd"]
	path = opt/fasd
	url = https://github.com/clvv/fasd
[submodule "opt/rustup.rs"]
	path = opt/rustup.rs
	url = https://github.com/rust-lang-nursery/rustup.rs
[submodule "opt/fzf"]
	path = opt/fzf
	url = https://github.com/junegunn/fzf
[submodule "opt/zsh-completions"]
	path = opt/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "opt/zsh-syntax-highlighting"]
	path = opt/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "opt/zsh-autosuggestions"]
	path = opt/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".vim/pack/_/opt/nerdtree-git-plugin"]
	path = .vim/pack/_/opt/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "opt/jabba"]
	path = opt/jabba
	url = https://github.com/shyiko/jabba
[submodule ".config/nvim/pack/_/opt/async.vim"]
	path = .config/nvim/pack/_/opt/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule ".config/nvim/pack/_/opt/vim-lsp"]
	path = .config/nvim/pack/_/opt/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule ".config/nvim/pack/_/opt/base16-vim"]
	path = .config/nvim/pack/_/opt/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule ".config/nvim/pack/_/opt/vim-snippets"]
	path = .config/nvim/pack/_/opt/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule ".config/nvim/pack/_/opt/ultisnips"]
	path = .config/nvim/pack/_/opt/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".config/nvim/pack/_/opt/fzf.vim"]
	path = .config/nvim/pack/_/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".config/nvim/pack/_/opt/emmet-vim"]
	path = .config/nvim/pack/_/opt/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule ".config/nvim/pack/_/opt/nerdcommenter"]
	path = .config/nvim/pack/_/opt/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".config/nvim/pack/_/opt/delimitmate"]
	path = .config/nvim/pack/_/opt/delimitmate
	url = https://github.com/raimondi/delimitmate
[submodule ".config/nvim/pack/_/opt/vim-multiple-cursors"]
	path = .config/nvim/pack/_/opt/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule ".config/nvim/pack/_/opt/tabular"]
	path = .config/nvim/pack/_/opt/tabular
	url = https://github.com/godlygeek/tabular
[submodule ".config/nvim/pack/_/opt/vim-go"]
	path = .config/nvim/pack/_/opt/vim-go
	url = https://github.com/fatih/vim-go
