;echo "\n[include]\npath = ~/.etc/.gitconfig" >> ~/.gitconfig

[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	lock = "update-index --skip-worktree"
	locked = "!f() { git ls-files -v | grep ^S | sed -e 's|S ||'; }; f;"
	unlock = "update-index --no-skip-worktree"

[core]
	trustctime = false
	excludesfile = ~/.etc/.gitignore_global

[merge]
	tool = vimdiff

[mergetool]
	prompt = true

[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[difftool]
	prompt = false

[diff]
	tool = vimdiff

[rebase]
	instructionFormat = "(%an) %s"
