[submodule ".emacs.d/jdee/jdee-server"]
	path = .emacs.d/jdee/jdee-server
	url = https://github.com/jdee-emacs/jdee-server
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".config/nvim/dein/repos/github.com/Shougo/dein.vim"]
	path = .config/nvim/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule "tools/opt/todo.txt-cli"]
	path = tools/opt/todo.txt-cli
	url = https://github.com/ginatrapani/todo.txt-cli
[submodule "tools/opt/pyenv"]
	path = tools/opt/pyenv
	url = https://github.com/yyuu/pyenv
[submodule "tools/opt/gvm"]
	path = tools/opt/gvm
	url = https://github.com/moovweb/gvm
[submodule "tools/opt/nvm"]
	path = tools/opt/nvm
	url = https://github.com/creationix/nvm.git
[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "tools/opt/zsh-autoenv"]
	path = tools/opt/zsh-autoenv
	url = https://github.com/Tarrasch/zsh-autoenv
